{% for cmd in Service_Model.Features %}
{% if cmd.command %}
{{cmd.command}}
{% endif %}
{% if cmd.param_1 %}
{{cmd.param_1}}
{% endif %}
{% if cmd.param_2 %}
{{cmd.param_2}}
{% endif %}
{% if cmd.datos %}
{{cmd.datos}}
{% endif %}
{% endfor %}
